#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 900px;
  height: 900px;
  background-color: aqua;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box {
  color: aliceblue;
  border-width: 1px;
  border-style: solid;
}
